body {
    background-image: url(/image/bg.png);
    background-size: cover;
	color:white !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px; 
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: transparent;
}


/*TOKE STYLE*/

.toPath {
    color: #bbbbbb;
	border-radius: .25rem;
    padding: 8px;
    margin-left: 10px;
    margin-right: -10px;
    background-color: rgba(255, 255, 255, .15);  
 	backdrop-filter: blur(5px);
}

.tokelogo {
	max-height: 110px;
	padding: 10px;
}

.nav-tabs {
	background: #1e98d4;
	color: white;
}

.myhead {
	background-color: #252422;
}

.toketitle {
	text-decoration: none;
	color: white;
	padding-top: 3.5%;
	font-family: fantasy;
}

.sticky-top {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

.sticky-bottom {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 8px;
}

.miniPadding {
	padding-top: 10px;
}

.orange {
    background-color: #eb5e28 !important;
}

.blue {
    background-color: #087e8b !important;
}

.dark {
	background-color: rgba(255, 255, 255, .15) !important;  
 	backdrop-filter: blur(5px) !important;
 	border: 0px !important;
 	color: #bbbbbb !important;
}

/*CUSTOM BOOTSTRAP*/
a {
	color: white !important;
}

.btn-info {
    color: white !important;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

a.active  {
	color: black !important;
}

nav-link.active {
	color: black !important;
}
.btn-info {
    color: white !important;
    border: 2px solid #087e8b !important;
    background-color: rgb(75 143 151 / 36%) !important;
    backdrop-filter: blur(5px) !important;
}

.btn-info:hover {
	-webkit-box-shadow: 0px 0px 25px 4px rgba(0,220,176,0.15);
	-moz-box-shadow: 0px 0px 25px 4px rgba(0,220,176,0.15);
	box-shadow: 0px 0px 25px 4px rgba(0,220,176,0.15);
}

.btn-primary:hover {
	-webkit-box-shadow: 0px 0px 25px 4px rgba(0,220,176,0.15);
	-moz-box-shadow: 0px 0px 25px 4px rgba(0,220,176,0.15);
	box-shadow: 0px 0px 25px 4px rgba(0,220,176,0.15);
}


.nav-tabs {
     border-bottom: 0px solid #dee2e6 !important; 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: #21282d !important;
     border-color: transparent !important; 
}

.card-text:last-child {
    font-weight: 300 !important;
}

/*Security*/

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}