<!DOCTYPE html>
<html>
	<head>
		<title>Two Original Key Encryption</title>
		<link rel="icon" type="image/png" href="/image/logo.ico"/>
		<link type="text/css" rel="stylesheet" href="/css/main.css"/>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/css/all.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-W4140HYN2D"></script>
		<script type="text/javascript" src="/js/eel.js"></script>
		<script type="text/javascript" src="/js/vue.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/toast.min.js"></script>
		<script type="text/javascript" src="/js/api.js"></script>
		<script type="module" src="/js/UI/base.js"></script>
	</head>
	<body>
		<div class="sticky-top">
			<div id="myhead"><toke-head></toke-head></div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs orange" id="myTab" role="tablist" v-if="show">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="menu-one-tab" data-bs-toggle="tab" href="#menu-one" role="tab" aria-controls="menu-one" aria-selected="true"><menu-one></menu-one> {{ menuOne }}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="menu-two-tab" data-bs-toggle="tab" href="#menu-two" role="tab" aria-controls="menu-two" aria-selected="false"><menu-two></menu-two> {{ menuTwo }}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="menu-there-tab" data-bs-toggle="tab" href="#menu-there" role="tab" aria-controls="menu-there" aria-selected="false"><menu-there></menu-there> {{ menuThere }}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="menu-four-tab" data-bs-toggle="tab" href="#menu-four" role="tab" aria-controls="menu-four" aria-selected="false"><menu-four></menu-four> {{ menuFour }}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="menu-five-tab" data-bs-toggle="tab" href="#menu-five" role="tab" aria-controls="menu-five" aria-selected="false"><menu-five></menu-five> {{ menuFive }}</a>
				</li>
			</ul>
		</div>
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="menu-one" role="tabpanel" aria-labelledby="menu-one-tab" v-if="show">
				<div class="container">
					<div class="col-12">
						<br/>
						<jumbotron></jumbotron>
						<br/>
						<h4> {{ text_main }}</h4>
						<div class="row" style="color: black;border: 0px !important; background-color: transparent;">
						  <div class="col" id="card1" v-for="content1 in content1" keys="content.title">
						    <div class="card" style="color: white;border: 0px !important; background-color: rgba(255, 255, 255, .15); backdrop-filter: blur(5px);">
						      <div class="card-body">
						        <h5 class="card-title"><i class="fas fa-sticky-note"></i>{{ content1.title }}</h5>
						        <p class="card-text">{{ content1.text }}</p>
						      </div>
						    </div>
						  </div>
						</div>
						<br/>
						<div class="row" style="color: black;border: 0px !important; background-color: transparent;">
						  <div class="col" id="card1" v-for="content2 in content2" keys="content.title">
						    <div class="card" style="color: white;border: 0px !important; background-color: rgba(255, 255, 255, .15); backdrop-filter: blur(5px);">
						      <div class="card-body">
						        <h5 class="card-title"><i class="fas fa-sticky-note"></i>{{ content2.title }}</h5>
						        <p class="card-text">{{ content2.text }}</p>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="menu-two" role="tabpanel" aria-labelledby="menu-two-tab" v-if="show">
				<div class="container">
					<br/>
					<div class="row">
						<h5> {{ text_file_location }} </h5>
						<div class="col-9 toPath" id="toPath"> {{ text_placeholder_file_location }} </div>
						<div class="col-3" id="buttonEncrypt">
							<button type="button" class="btn btn-info" v-on:click="fileEncrypt" style="width: 100%">{{ button_file_location }}</button>
						</div>
					</div>
					<br/>
					<div class="row">
						<h5> {{ text_output_location }} </h5>
						<div class="col-9 toPath" id="toPathOutput"> {{ text_placeholder_output_location }} </div>
						<div class="col-3" id="buttonEncrypt">
							<button type="button" class="btn btn-info" v-on:click="fileEncryptOutput" style="width: 100%">{{ button_output_location }}</button>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-4">
							<h5> {{ text_security_key }} </h5>
							<div class="col-12" id="securitykey">
								<input type="text" class="form-control dark" placeholder="4 digits" aria-label="4 digits" aria-describedby="basic-addon1" id="keyE">
							</div>
						</div>
						<div class="col-8">
							<h5> {{ text_output_filename }} </h5>
							<div class="col-12" id="securitykey">
								<input type="text" class="form-control dark" placeholder="example" aria-label="example" aria-describedby="basic-addon1" id="filenameE">
							</div>
						</div>
					</div><br/>
					<div class="row">
						<div class="col-12">
							<h5> {{ text_email }} <badgenew></badgenew></h5>
							<input class="form-check-input" type="checkbox" value="" id="sendEmail" value="no">
							<label class="form-check-label" for="flexCheckDefault">{{ text_email_checkbox }}</label>
							<div class="col-12" id="toEmail">
								<input type="text" class="form-control dark" placeholder="example@gmail.com" aria-label="example@gmail.com" aria-describedby="basic-addon1" id="emailE" value="">
							</div>
						</div>
					</div>
					<br/>
					<div class="row result">
						<h5>{{ text_result }}</h5>
						<div class="col-12 limitpad">
							<textarea class="form-control dark" id="layer1" rows="3" readonly style="resize: none;">
							</textarea>
						</div>
					</div>
					<br/>
					<div class="row sticky-bottom">
						<div class="d-grid gap-2">
							<button class="btn btn-primary blue" type="button" v-on:click="encrypt" id="buttonExecute"> {{ text_button_execute }}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="menu-there" role="tabpanel" aria-labelledby="menu-there-tab" v-if="show">
				<div class="container">
					<br/>
					<div class="row">
						<h5> {{ text_file_location }} </h5>
						<div class="col-9 toPath" id="toPathTL1E">{{ text_placeholder_tl1e }}</div>
						<div class="col-3">
							<button type="button" class="btn btn-info" v-on:click="getTL1E" style="width: 100%">{{ button_tl1e }}</button>
						</div>
						<div class="miniPadding"></div>
						<div class="col-9 toPath" id="toPathTL2E">{{ text_placeholder_tl2e }}</div>
						<div class="col-3">
							<button type="button" class="btn btn-info" v-on:click="getTL2E" style="width: 100%">{{ button_tl2e }}</button>
						</div>
					</div> <br/>
					<div class="row">
						<h5>{{ text_output_location }}</h5>
						<div class="col-9 toPath" id="toPathOutputDecrypt"> {{ text_placeholder_output_location }} </div>
						<div class="col-3">
							<button type="button" class="btn btn-info" v-on:click="outputFile" style="width: 100%">{{ button_output_location }}</button>
						</div>
					</div>
					<div class="miniPadding"></div><div class="miniPadding"></div>
					<div class="row">
						<div class="col-4">
							<h5> {{ text_security_key }} </h5>
							<div class="col-12">
								<input type="text" class="form-control dark" placeholder="4 digits" aria-label="4 digits" aria-describedby="basic-addon1" id="keyD">
							</div>
						</div>
						<div class="col-5">
							<h5> {{ text_output_filename }}</h5>
							<div class="col-12">
								<input type="text" class="form-control dark" placeholder="example" aria-label="example" aria-describedby="basic-addon1" id="filenameD">
							</div>
						</div>
						<div class="col-3">
							<h5>{{ text_extension }}</h5>
							<div class="col-12">
								<input type="text" class="form-control dark" placeholder="txt" aria-label="txt" aria-describedby="basic-addon1" id="extensionD">
							</div>
						</div>
						<div class="miniPadding"></div><div class="miniPadding"></div>
						<h5>{{ text_result }}</h5>
						<div class="col-12 limitpad">
							<textarea class="form-control dark" id="layer2" rows="3" readonly style="resize: none;">
							</textarea>
						</div>
						<div class="miniPadding"></div><div class="miniPadding"></div>
						<div class="d-grid gap-2 sticky-bottom">
							<button class="btn btn-primary blue" type="button" v-on:click="decrypt" id="buttonExecute">{{ text_button_execute }}</button>
						</div>
					</div>
					<br/>
				</div>
			</div>
			<div class="tab-pane" id="menu-four" role="tabpanel" aria-labelledby="menu-four-tab" v-if="show">
				<div class="container">
					<br/>
					<h5> {{ text_editor }} </h5>
					<div class="col-12">
						<textarea class="form-control dark" id="textNote" rows="16" style="resize: none;">
						</textarea>
					</div><br/>
					<div class="row sticky-bottom">
						<div class="col-6 d-grid">
							<button class="btn btn-primary blue" type="button" v-on:click="openFile" id="buttonExecute"> {{ button_open }} </button>
						</div>
						<div class="col-6 d-grid">
							<button class="btn btn-primary blue" type="button" v-on:click="saveFile" id="buttonExecute"> {{ button_save }} </button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="menu-five" role="tabpanel" aria-labelledby="menu-five-tab" v-if="show">
				<div class="container">
					<br/>
					<h5> {{ text_tools }} </h5>
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-info" id="check-connection" v-on:click="connection">{{ button_connection }}</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-info" id="check-update" v-on:click="update">{{ button_update }}</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-info" id="check-update" v-on:click="version">{{ button_version }}</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-info">{{ button_coming_soon }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>