.toPath {
    color: #212529;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
    padding: 5px;
    margin-left: 10px;
    margin-right: -10px;ss.exe
}

.tokelogo {
	max-height: 110px;
	padding: 10px;
}

.nav-tabs {
	background: #1e98d4;
	color: white;
}

.limitpad {
	max-width: 95%;
}

.myhead {
	background-image: url(/image/headbg.png);
	/*display: flex;*/
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.toketitle {
	text-decoration: none;
	color: white;
	padding-top: 3.5%;
	font-family: fantasy;
}

.sticky-top {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

.sticky-top {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 30px;
}

.sticky-bottom {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 8px;
}

.miniPadding {
	padding-top: 10px;
}

a  {
	color: white !important;
}

/*a:hover  {
	color: #00E194 !important;
}*/

.btn-info {
    color: white !important;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

a.active  {
	color: black !important;
}

nav-link.active {
	color: black !important;
}
.color0 {
	background-color: #FFFFFF !important;
	color: black !important;
}

.color0:hover {
	color: black !important;
}

.color1 {
	background-color: #18264F !important;
}

.color2 {
	background-color: #4D75FF !important;
}

.color3 {
	background-color: #00E194 !important;
}

.color4 {
	background-color: #FF4891 !important;
}

.border-color1 {
	border: 2px solid #18264F !important;
}

.border-color2 {
	border: 2px solid #4D75FF !important;
}

.border-color3 {
    border: 2px solid #00E194 !important;
}

.border-color4 {
	border: 2px solid #FF4891 !important;
}

a {
	color:white;
}

a:hover {
    color: red;
}

body {
	/*background-color: ghostwhite;*/
	background: linear-gradient(-45deg, rgba(238,174,202,0.5270483193277311), rgba(148,187,233,0.022846638655462215), rgba(238,174,202,0.5270483193277311), rgba(148,187,233,0.022846638655462215));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px; 
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: transparent;
}
